.box{
    display: flex;
    margin-top: 1.5rem;
}

.aside, .content{
    border-radius: 10px;
}

.aside{
    background: #fff;
    flex-basis: 300px;
    flex-shrink: 0;
}

.content{
    margin-left: 2rem;
    background-color: #fff;
    flex-grow: 1;
}
.content__inner{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: -10px -10px;
}