.information{

    & section{
        background-color: #fff;
        border-radius: 10px;
        padding: .7rem 1rem;
    }

    & section + section{
        margin-top: 1rem;
    }

    &__form{
        display: flex;
        flex-direction: column;
    }
    &__inpt, 
    &__textarea{
        width: 50%;
        margin: .8rem 0;
    }
    &__textarea{
        resize: vertical;
    }
    &__btn{
        width: max-content;
    }
}

@media (max-width: 768px) {
    .information__form input,
    .information__form textarea{
        width: 100%;
    }
}