.sidebar{
    background: #fff;
    flex-basis: 300px;
    flex-shrink: 0;
    height: min-content;
    border-radius: 10px;

    padding: 1.5rem;
    &__list{
        margin-top: 1rem;
    }
    &__item{
        font-weight: 500;
        font-size: 1.2rem;
        padding: .2rem .4rem;
        border-radius: 5px;
        cursor: pointer;
    }
    &__item:hover{
        background-color: #0BCF6B;
        color: #fff;
    }
    &__item + &__item{
        margin-top: .5rem;
    }
}